<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN” "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<!-- Stylesheets to match Salesforce look and feel -->
<link href="/sCSS/1159551066000/Theme2/default/elements.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" /><link href="/sCSS/1159551066000/Theme2/default/common.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" /><link href="/css/assistive.css" media="aural,braille,embossed" rel="stylesheet" type="text/css" /><link href="/sCSS/1159556068000/Theme2/00D30000000FvEZ/00530000001EAhV/dCustom.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />

<script src="/soap/ajax/8.0/connection.js"></script>
<script language="javascript">

// DECLARE CONSTANTS
var POS_ID="{!Position__c.Id}";
var POS_STAT="{!Position__c.Status__c}";
var POS_LINK="{!Position__c.Link}";
var POP_MSG="";

function closeApps(){
// first: validate the Position is in the Closed status
if (POS_STAT == "Closed"){
// second: we get all related Job_Application__c records in an Open status
var records = getApps();
// third: we update all the Job_App__c records to Closed - Position Closed
if (records != null) {
if (records.length > 0) {
updateApps(records);
}
}
}
else { POP_MSG += "Position Must Be Closed to Activate this Button"; }

//document.getElementById["output"].innerHTML = POP_MSG;
alert(POP_MSG);
window.opener.navigate(POS_LINK);
window.close();
return;
}

function getApps(){
// NOTE: This function will return the 1st batch of related Job App records
    var qStr = "Select Id,Stage__c,Status__c from Job_Application__c where Status__c='Open' and Position__c='{!Position__c.Id}'";

try{
var queryResults = sforce.connection.query(qStr);
if (queryResults != null){
if (queryResults.size > 0){
var records = queryResults.getArray('records');
}
else { POP_MSG += "No Related Job_Application__c Records Found"; }
}
} catch (e){
POP_MSG += "\r\nERROR\r\n" + e;
}

return records;
}

function updateApps(records){
var i = 0;
// loop through records and set the field values
for (i=0;i<records.length;i++){
records[i].Status__c = "Closed";
records[i].Stage__c = "Closed - Position Closed";
}
// perform the update
try{
var iCounter = 0;
var saveResult = sforce.connection.update(records);
if (saveResult.length != records.length) throw "create failed";

var errorMsgs = "";
for (var x=0;x<saveResult.length;x++){
if (!saveResult[x].getBoolean("success")) {
throw "failed: " + saveResult[x];
}
else { iCounter++; }
}
POP_MSG += iCounter + " Job Applications Closed";
}catch (e){
POP_MSG += "\r\nERROR\r\n" + e;
}

return;
}

</script>
</head>
<body onload="closeApps();">
<center>
<br />
<table width="100%">
<tr>
<td align=center>
<span class="moduleTitle">Updating Job Applications... please wait</span>
</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align=center>
<img src="/img/waiting_dots.gif" alt="Please wait..." title="Please wait..." width=196 height=20>
</td>
</tr>
</table>
<br />
<div id="output"></div>
</center>
</body>
</html>