<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN” "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<!-- Stylesheets to match Salesforce look and feel -->
<link href="/sCSS/1159551066000/Theme2/default/elements.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" /><link href="/sCSS/1159551066000/Theme2/default/common.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" /><link href="/css/assistive.css" media="aural,braille,embossed" rel="stylesheet" type="text/css" /><link href="/sCSS/1159556068000/Theme2/00D30000000FvEd/00530000001EAhW/dCustom.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" /> 

<script src="/soap/ajax/8.0/connection.js"></script>
<script language="javascript">

var REVIEW_ID = "";
var REV_NAME = "{!$User.FirstName} " + "{!$User.LastName}";
var REV_ID="{!$User.Id}";
var JOB_APP_ID = "{!Job_Application__c.Id}";
var JOB_NAME="{!Job_Application__c.Name}";
var JOB_LINK="{!Job_Application__c.Link}";  // this is a specific Job App record
var JOB_LIST_LINK="/a00/o";  // this is the link to the Job App Tab

function showPage(){
	// need to add a section to verify the User is a possible Interviewer associated to the Job App (need Job App id though)
	if (REV_NAME != "") {
		document.getElementById("reviewerName").innerHTML=REV_NAME;
	}
        if (JOB_APP_ID != ""){
                document.getElementById("applicationName").innerHTML=JOB_NAME;
        }
        else {
           alert("A Review Can Only Be Created From a Job Application Detail Screen!");
           document.body.innerHTML = "&nbsp;";
           //window.top.navigate(JOB_LIST_LINK);
           top.location.href = JOB_LIST_LINK;
        }
}

function validate(){
	// *** If we wanted any pre-save form validation we could add it here ***
	save();
}

function abort(){
	// they clicked Cancel so take them back to the job application they came from
   //window.top.navigate(JOB_LINK);
   top.location.href = JOB_LINK;
}

function save(){
	// *** this function is called from the validate function if all validation tests pass
	var review = new sforce.SObject("Review__c");


	// *** set the Id relationship values
	review.Job_Application__c = JOB_APP_ID;

	// *** now get the form values the user filled out
	review.Cultural_Fit__c = parseInt(document.forms["reviewForm"].elements["cScore"].options[document.forms["reviewForm"].elements["cScore"].options.selectedIndex].text);
	review.Cultural_Comments__c = document.forms["reviewForm"].elements["cComments"].value;

	review.Experience__c = parseInt(document.forms["reviewForm"].elements["eScore"].options[document.forms["reviewForm"].elements["eScore"].options.selectedIndex].text);
	review.Experience_Comments__c = document.forms["reviewForm"].elements["eComments"].value;

	review.Leadership_Skills__c = parseInt(document.forms["reviewForm"].elements["lScore"].options[document.forms["reviewForm"].elements["lScore"].options.selectedIndex].text);
	review.Leadership_Comments__c = document.forms["reviewForm"].elements["lComments"].value;

    review.Recommend_for_Hire__c = document.forms["reviewForm"].elements["hireBox"].checked;
    review.Alternate_Position__c = document.forms["reviewForm"].elements["altPosition"].value;

	// now save the record and navigate the user to the detail page to see it
	try{
	   var saveResult = sforce.connection.create([review]);
	if (saveResult.length != 1) throw "create failed";

      if (!saveResult[0].getBoolean("success")) throw "failed " + saveResult[0];
	var detailLink = "/" + saveResult[0].id;
	//window.top.navigate(detailLink);
                     top.location.href = detailLink;
    }catch(error) {
       document.getElementById("output").innerHTML = 
              "oops something went wrong " + error;
    }
}
</script>
</head>

<body class="custom customTab97  editPage" onload="showPage();">
<div id="output"></div>
<div id="theForm"></div>
<form name="reviewForm" id="reviewForm" onsubmit="validate();">
<div class="bPageBlock bEditBlock secondaryPalette" id="ep">
<div class="pbBody">
<div class="pbSubsection">
<table  class="detailList" cellpadding="0" cellspacing="0" border="0">
	<tr><td class="pbTitle"><img src="/s.gif" alt="" width="1" height="1" class="minWidth" title="" /><h2 class="mainTitle">New Review</h2></td>
	    <td class="pbButton"><input value=" Save " class="btn" type="button" title="Save" name="save" onclick='javascript:validate();' />
			&nbsp;<input value="Cancel" class="btn" type="button" title="Cancel" name="cancel" onclick='javascript:abort();' />
	    </td>
	</tr>
	<tr><td colspan=4><div class="pbSubheader tertiaryPalette" id="head_2_ep"><h3>Information</h3></div></td></tr>
	<tr><td class="labelCol">Job Application&nbsp;</td><td class="dataCol col02"><input type="hidden" name="applicationId" 

value='{!Job_Application__c.Id}' /><div id="applicationName"></div></td>
	    <td class="labelCol">Reviewer&nbsp;</td><td class="dataCol"><input type="hidden" name="reviewerId" value='{!$User.Id}' /><div 

id="reviewerName"></div></td>	    
	</tr>
	<tr><td colspan=4><div class="pbSubheader tertiaryPalette" id="head_2_ep"><h3>Scores & Comments</h3></div></td>
	</tr>
	<tr><td class="labelCol">Please indicate the cultural fit of the candidate (1-5; 1=worst, 5=best):&nbsp;</td>
	    <td class="dataCol col02"><select name="cScore"><option id="1">1</option><option id='2'>2</option><option id="3">3</option><option id="4">4</option><option id="5">5</option></select></td>
	</tr>
	<tr><td class="labelCol">What was your overall impression of the candidate's cultural fit?</td>
	    <td class="dataCol col02"><textarea name="cComments" cols="40" maxlength="255" type="text" wrap="soft"></textarea></td>
	</tr>
	<tr><td class="labelCol">Please indicate the experience fit of the candidate (1-5; 1=worst, 5=best):&nbsp;</td>
	    <td class="dataCol col02"><select name="eScore"><option id="1">1</option><option id='2'>2</option><option id="3">3</option><option id="4">4</option><option id="5">5</option></select></td>
	</tr>
	<tr><td class="labelCol">What was your overall impression of the candidate's experience?</td>
	    <td class="dataCol col02"><textarea name="eComments" cols="40" maxlength="255" type="text" wrap="soft"></textarea></td>
	</tr>
	<tr><td class="labelCol">Please indicate the leadership skills of the candidate (1-5; 1=worst, 5=best):&nbsp;</td>
	    <td class="dataCol col02"><select name="lScore"><option id="1">1</option><option id='2'>2</option><option id="3">3</option><option id="4">4</option><option id="5">5</option></select></td>
	</tr>
	<tr><td class="labelCol">What was your overall impression of the candidate's leadership skills?</td>
	    <td class="dataCol col02"><textarea name="lComments" cols="40" maxlength="255" type="text" wrap="soft"></textarea></td>
	</tr>
	<tr><td class="labelCol">Do you recommend this candidate for hire for this position?</td>
	    <td class="dataCol col02"><input name="hireBox" type="checkbox" /></td>
	</tr>
	<tr><td class="labelCol">Are there any alternate positions you think this candidate should be considered for?</td>
	    <td class="dataCol col02"><textarea name="altPosition" cols="40" maxlength="255" type="text" wrap="soft"></textarea></td>
	</tr>
</table>
</div>
</div>
<div class="pbBottomButtons"><table  cellpadding="0" cellspacing="0" border="0"><tr>
	    <td class="pbTitle"><img src="/s.gif" alt="" width="1" height="1" class="minWidth" title="" />&nbsp;</td>
	    <td class="pbButtonb"><input value=" Save " class="btn" type="button" title="Save" name="save" onclick='javascript:validate();' />
			&nbsp;<input value="Cancel" class="btn" type="button" title="Cancel" name="cancel" onclick='javascript:abort();' />
	    </td>
</table>
</div>
</div>
</form>
</body>
</html>