<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN” "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<!-- Stylesheets to match Salesforce look and feel -->
<link href="/sCSS/1159551066000/Theme2/default/elements.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" /><link href="/sCSS/1159551066000/Theme2/default/common.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" /><link href="/css/assistive.css" media="aural,braille,embossed" rel="stylesheet" type="text/css" /><link href="/sCSS/1159556068000/Theme2/00D30000000FvEZ/00530000001EAhV/dCustom.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />

<script src="/soap/ajax/8.0/connection.js"></script>
<script language="javascript">

// DECLARE CONSTANTS
var POS_ID="{!Position__c.Id}";
var POS_STAT="{!Position__c.Status__c}";
var POS_LINK="{!Position__c.Link}";
var POP_MSG="";

function closeApps(){
// first: validate the Position is in the Closed status
if (POS_STAT == "Closed"){
// second: we get all related Job_Application__c records in an Open status
var records = getApps();
// third: we update all the Job_App__c records to Closed - Position Closed
if (records != null) {
if (records.length > 0) {
updateApps(records);
}
}
}
else { POP_MSG += "Position Must Be Closed to Activate this Button"; }

//document.getElementById["output"].innerHTML = POP_MSG;
alert(POP_MSG);
window.opener.navigate(POS_LINK);
window.close();
return;
}

function getApps(){
/************************************************************************
* STUDENT TASK #1:
* Write a function that queries for the 'Open' Job Applications related to the Position and then
* return the recordset.
* NOTE: If no records are found or errors occur then use the POP_MSG variable to set a message
*
**************************************************************************/
// *BEGIN* YOUR CODE HERE


// *END* OF YOUR CODE

return records;
}

function updateApps(records){
/*****************************************************************
* STUDENT TASK #2:
* Write a function here to update Salesforce with all the records passed into the function setting the
* Status field to 'Closed' and the Stage field to 'Closed - Position Closed'. Use the POP_MSG
* variable to record any error messages and to record the number of successfully
* updated records.
*
*****************************************************************/
// *BEGIN* YOUR CODE HERE


// *END* OF YOUR CODE

return;
}

</script>
</head>
<body onload="closeApps();">
<center>
<br />
<table width="100%">
<tr>
<td align=center>
<span class="moduleTitle">Updating Job Applications... please wait</span>
</td>
</tr>
<tr>
<td>&nbsp;</td>
</tr>
<tr>
<td align=center>
<img src="/img/waiting_dots.gif" alt="Please wait..." title="Please wait..." width=196 height=20>
</td>
</tr>
</table>
<br />
<div id="output"></div>
</center>
</body>
</html>